<section class="section">
  <div class="container">
    <h1 class="title is-1">For Time</h1>
  </div>
  <div class="container notification has-text-centered title is-2">
    {{ time }}
  </div>
  <div class="buttons container level-item">
    <button class="button is-success is-medium is-rounded" (click)="onStart();">START</button>
    <button class="button is-danger is-medium is-rounded" (click)="onStop();">STOP</button>
    <button class="button is-medium is-rounded" (click)="onReset();">RESET</button>
  </div>
</section>