<section class="section">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-half">
          <div class="tile is-ancestor">
            <div class="tile is-vertical is-12">
              <div class="tile">
                <div class="tile is-parent is-vertical">
                  <a routerLink="/stopwatch" routerLinkActive="active" class="tile is-child notification is-primary button is-large">For Time</a>
                  <a routerLink="/amrap" routerLinkActive="active" class="tile is-child notification is-primary button is-large">AMRAP</a>
                </div>
                <div class="tile is-parent is-vertical">
                  <a routerLink="/emom" routerLinkActive="active" class="tile is-child notification is-primary button is-large">EMOM</a>
                  <a class="tile is-child notification is-primary button is-large">Tabata</a> 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
    <section class="section">
    <div class="container">
        <div class="columns is-centered">
      <table mat-table [dataSource]="workouts" class="mat-elevation-z8">
          <ng-container matColumnDef="chronoType">
              <th mat-header-cell *matHeaderCellDef> Type Chrono </th>
              <td mat-cell *matCellDef="let workout"> {{workout.chronoType}} </td>
            </ng-container>
            <ng-container matColumnDef="executionDate">
                <th mat-header-cell *matHeaderCellDef> Date </th>
                <td mat-cell *matCellDef="let workout"> {{workout.executionDate.toDate() | date}} </td>
              </ng-container>
              <ng-container matColumnDef="timeMiliseconds">
                  <th mat-header-cell *matHeaderCellDef> Time </th>
                  <td mat-cell *matCellDef="let workout"> {{workout.timeMiliseconds}} </td>
                </ng-container>
          <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
          <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
      </table>
      </div>
    </div>
</section>